# Configuration de l'application
NODE_ENV=production
NEXT_PUBLIC_API_URL=https://projectHub.trapuce.tech

# Configuration de l'API backend
# NEXT_PUBLIC_API_URL doit pointer vers votre backend Spring Boot
# Pour la production, utilisez l'URL complète avec HTTPS
